* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 0;
}

/* Navbar */
header {
  width: 100%;
  padding: 5px 60px;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: auto;
  cursor: pointer;
}
.logo img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #d946ef;
  font-size: 18px;
  transition: 0.3s ease;
  display: inline-block;   /* important for jump */
}

.nav-links a:hover {
  color: white;
  transform: translateY(-6px);   /* jump effect */
}

/* Home Section */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 120px 80px;
}

.home-text h1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
}

.home-text span {
  color: #d946ef;
}

.home-text h2 {
  margin-top: 15px;
  font-size: 28px;
}

.home-text p {
  margin-top: 20px;
  font-size: 18px;
  max-width: 500px;
  opacity: 0.8;
}

/* Buttons */
.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 25px;
  background: #d946ef;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.btn-outline {
  display: inline-block;
  margin-top: 25px;
  margin-left: 15px;
  padding: 12px 25px;
  border: 2px solid #d946ef;
  color: #d946ef;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #d946ef;
  color: black;
}

/* Home Image */
.home-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #d946ef;
  object-fit: cover;
}

/* Sections */
.section {
  padding: 90px 80px;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #d946ef;
  font-family: "Playfair Display", serif;
}
.section-line {
  width: 90%;
  height: 2px;
  border: none;
  margin: 0 auto;
  background: linear-gradient(to right, transparent, #66209c, transparent);
  opacity: 0.8;
}
.section::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  margin: 70px auto 0 auto;
  background: linear-gradient(to right, transparent, #66209c, transparent);
  opacity: 0.8;
}

.title {
  font-size: 70px;
  color: white;
  animation: slideDown 1s ease forwards;
}

.subtitle {
  font-size: 40px;
  color: white;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}

.desc {
  font-size: 18px;
  color: gray;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2s;
}

.name {
  color: #d300ff;
  display: inline-block;
  animation: pop 1s ease infinite alternate;
}

/* Animations */
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop {
  from {
    transform: scale(1);
    text-shadow: 0px 0px 5px #d300ff;
  }
  to {
    transform: scale(1.1);
    text-shadow: 0px 0px 20px #d300ff;
  }
}


/* About */
.about-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.about-container p {
  font-size: 18px;
  opacity: 0.8;
}

.about-box {
  margin-top: 30px;
  background: #111;
  padding: 25px;
  border-radius: 10px;
  text-align: left;
}

/* Education */
.timeline {
  max-width: 800px;
  margin: auto;
}

.timeline-item {
  background: #111;
  padding: 20px;
  border-left: 5px solid #d946ef;
  margin-bottom: 20px;
  border-radius: 8px;

  /* Smooth hover effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-item:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 20px rgba(217, 70, 239, 0.3);
}

.timeline-item h3 {
  color: white;
}

.timeline-item p {
  color: #d946ef;
  font-weight: 600;
}

.timeline-item span {
  opacity: 0.7;
  color: white;
}

/* Work */
.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.work-card {
  background: #111;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.work-card:hover {
  transform: translateY(-8px);
  border: 1px solid #d946ef;
}

.work-card h3 {
  color: #d946ef;
}

.work-card p {
  margin-top: 10px;
  opacity: 0.8;
}

.work-card a {
  display: inline-block;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.work-card a:hover {
  color: #d946ef;
}

/* Skills */
.skills-container {
  max-width: 700px;
  margin: auto;
}

.skill {
  margin-bottom: 20px;
}

.skill p {
  margin-bottom: 8px;
}

.progress {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  height: 12px;
}

.progress span {
  display: block;
  height: 100%;
  background: #d946ef;
}

/* Contact */
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 7px;
  border: none;
  outline: none;
  background: #111;
  color: white;
}

.contact-form textarea {
  height: 130px;
  resize: none;
}

.contact-info {
  flex: 1;
  background: #111;
  padding: 25px;
  border-radius: 10px;
}

.contact-info h3 {
  color: #d476e2;
  margin-bottom: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 900px) {
  .home {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 140px 30px;
  }

  .home-img {
    margin-top: 40px;
  }

  .nav-links {
    display: flex;
  }
}
 